<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <link href="https://fonts.googleapis.com/css?family=Crimson+Text|Pinyon+Script" rel="stylesheet">

        <link rel="stylesheet" href="css/styles.css" type="text/css" rel="stylesheet">

        <title>Address Book</title>
    </head>
    <body>
        <div class='container'>
            <div class="jumbotron">
                <h1 class='fancyfont'>An Address Book!</h1>
            </div>
            <div class='jumbotron'>
                <h2 class='fancyfont'>Congratulations, you just deleted all your friends!<h2>
            </div>
            <div class='container'>
                <h3 class='fancyfont'>Isn't it nice to be alone?</h3><br><br>
                <form action='/' method='get'>
                    <button type='submit' class='typescript'>Add some new friends</button>
                </form>
            </div>
        </div>
    </body>
</html>
